# Secrets
.secrets/
secrets/
GitOps-Secrets/
GitOps-Secrets

# Environment settings
.envrc
.env

# Tools temps
.quarkus
.devbox

# Logs
*.log.*

# Binaries
target/

# 
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info

# OpenNext / Next.js
.open-next/
.open-next-cache/
.next/
out/
.vercel/

# Node.js logs/cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Local secrets clone
modules/GitOps-Secrets/

.aws-sam

