[submodule "daws"]
	path = daws
	url = git@github.com:DAWS25/daws.git
[submodule "modules/Presence"]
	path = modules/Presence
	url = git@github.com:DAWS25/Presence.git
[submodule "modules/modules/Janitor"]
	path = modules/modules/Janitor
	url = git@github.com:DAWS25/Janitor.git
[submodule "modules/Janitor"]
	path = modules/Janitor
	url = git@github.com:DAWS25/Janitor.git
[submodule "modules/Compass"]
	path = modules/Compass
	url = git@github.com:DAWS25/Compass.git
[submodule "modules/OTO"]
	path = modules/OTO
	url = git@github.com:DAWS25/OTO.git
